spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/projectdb}
    username: ${SPRING_DATASOURCE_USERNAME:admin}
    password: ${SPRING_DATASOURCE_PASSWORD:secret}
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:create-drop}
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  redis:
    host: ${SPRING_REDIS_HOST:localhost}
    port: ${SPRING_REDIS_PORT:6379}
    password: ${SPRING_REDIS_PASSWORD:""}
    timeout: ${SPRING_REDIS_TIMEOUT:2000}
    lettuce:
      pool:
        max-active: ${SPRING_REDIS_POOL_MAX_ACTIVE:10}
        max-idle: ${SPRING_REDIS_POOL_MAX_IDLE:5}
        min-idle: ${SPRING_REDIS_POOL_MIN_IDLE:1}
        max-wait: ${SPRING_REDIS_POOL_MAX_WAIT:1000}
logging:
  level:
    org.springframework.graphql: DEBUG
    graphql: DEBUG
    com.graphql.project: DEBUG
    org.springframework.web: DEBUG

resilience4j:
  ratelimiter:
    instances:
      publicListLimiter:
        limitForPeriod: 100
        limitRefreshPeriod: 1m
        timeoutDuration: 0
        registerHealthIndicator: true
      readLimiter:
        limitForPeriod: 500
        limitRefreshPeriod: 1m
        timeoutDuration: 0
      writeLimiter:
        limitForPeriod: 80
        limitRefreshPeriod: 1m
        timeoutDuration: 0